<li *ngIf="pokemon" class="mb-4 shadow-2xl bg-white rounded relative">
    <app-favourite-button [pokemonId]="pokemon.id"></app-favourite-button>
    <section class="p-4">
        <img [src]="pokemon.image" [alt]="pokemon.name" class="block w-52" /> 
    </section>

    <section class="p-4">
        <span class="text-2xl">{{pokemon.name}}</span>
    </section>
</li>

