<nav class="bg-red-700 flex justify-between items-center p-8 sticky top-0 w-full z-50">
  <span class="font-bold">The Pokeindex</span>

<ng-container *ngIf="user !== undefined" >
  <ul class="flex">
    <li class="px-4"><a class="font-mono text-white" routerLink="/pokemontrainer">Poketrainer</a>&nbsp;</li>
    <li class="px-4"><a class="font-mono text-white" routerLink="/pokemons">Pokemons</a>&nbsp;</li>
  </ul>
</ng-container>

</nav>
