<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <div class="formLogin">
    <div>
    <fieldset class="mb-3">
        <label for="username" class="block my-3">Username:</label>
        <input type="text" 
        ngModel
        #username="ngModel"
        name="username" id="username" 
        class="border border-slate-300 p-1 rounded" 
        placeholder="fill in username"/>
    </fieldset>
    <button type="submit" class="bg-red-500 p-2 rounded-full">Login</button>

</div>
</div>
</form>