<p>pokemontrainer-info works!</p>
<img [src]="pokemonTrainer.image" [alt]="pokemonTrainer.name"/>
<p> Name: {{pokemonTrainer.name}}</p>
<p>Years of training: {{pokemonTrainer.yearsOfTraining}}</p>
<h5>Favourite Animals</h5>

<ul>
    <li *ngFor="let favouritePokemon of pokemonTrainer.favouritePokemons">
            {{favouritePokemon}}
    </li>
</ul>
<!-- Pipe: Date -->
<p>Date of Birth {{ pokemonTrainer.birthday | date:("y") }}</p>